:host {
    flex: 1 1 auto;

    margin-top: 1.8rem;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    grid-template-areas:
        "right content left";

    .left {
        grid-area: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
    }


    .right {
        grid-area: right;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: right;
    }

    app-first-page {
        grid-area: content;
        padding: .8rem;
    }

    $small: 800px;
    $medium: 900px;

    @media screen and (max-width: $small) {
        display: flex;
        flex-direction: column;

        app-first-page {
            order: 1;
        }
        .left {
            order: 2;
            flex-direction: row;
        }
        .right {
            order: 3;
            flex-direction: row;
        }

    }

    app-short-news { 
        padding: .8rem;
        cursor: pointer;   
    }
}