h3 {
    font-family: "Playfair Display", serif;
    padding: 0.5rem 0;

    &.dream {
        font-weight: 700;
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &.buzz {
        font-weight: 400;
        font-style: italic;
        font-size: 1.6rem;
        box-sizing: border-box;
    }

    &.force {
        font-weight: 700;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    &.hermi {
        font-weight: 400;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-style: italic;
        box-sizing: border-box;
    }
}